---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Início">
  <div class="readme">
    <h1>Bem vindo ao início do meu teste-place</h1>
  <h2> O Projeto</h2> 
  <blockquote>
    Bem-vindo ao meu projeto, um espaço onde eu compartilho meus projetos pessoais e experimentos com tecnologia!
  </blockquote>
  
  
  <h3>Resumo</h3>
  Este projeto foi criado usando Astro JS e tem como objetivo servir como um espaço para eu compartilhar meus projetos e experimentos com a comunidade. Cada página do projeto apresenta um projeto diferente que eu construí, e que as pessoas podem utilizar e aprender com eles.
  
  <h3>Páginas Atuais</h3>
  <li>Chatbot Together AI</li>
  <p>A primeira página do projeto é um chatbot que eu criei usando a API da Together AI. Por enquanto é possível conversar com uma modelo IA que entende e responde a perguntas. A ideia é mostrar na prática o uso de IAs e APIs.</p>
  
  <h3>Próximos passos</h3>
  <p>Pretendo adicionar algumas outras páginas, contendo projetos de automação e IA. Para o chatbot, teremos atualizações para que o usuário salve suas conversas, escolha com qual modelo conversar e a possibilidade de colocar modelos IA para conversarem entre si, passar prompts e realizar maiores interações no site usando as próprias IAs</p>
  
  <h3>Como Contribuir</h3>
  <p>  Se você quiser contribuir para o projeto, sinta-se à vontade para abrir um pull request ou criar um issue para discutir ideias e sugestões. Estou sempre aberto a feedback e novas ideias!</p>
  
  <h3>Tecnologias Usadas</h3>
  <li>Astro JS</li>
  <li>Together AI API</li>
  
  <h3>Licença</h3>

  <p>Este projeto está licenciado sob a licença MIT.</p>
  <p>Se você tiver alguma dúvida ou quiser entrar em contato comigo, você pode me encontrar em meu <a href="mailto:mr.rios1618@gmail.com">email</a></p>
  </div>
</Layout>
<style>
  .readme {
    /* border: 1px red solid; */
    padding: 1rem;
    width: 70%;
    max-width: 70%;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
  }
</style>