---

---

<div class="content">
  <div id="open-btn" class="open-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="content-box">
    <slot />
  </div>
</div>
<style>
  .content {
    background-color: #ecf0f1;
    color: #34495e;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
  }

  .content-box::-webkit-scrollbar {
    display: none;
  }

  .content-box {
    /* border: 1px red solid; */
    height: 100vh;
    width: 90%;
    text-align: center;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .open-btn {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.open-btn span {
  display: block;
  height: 4px;
  background-color: #34495e;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {

  .content {
    flex-grow: 0;
    width: 100%;
  }

  .content-box {
    width: 100%;
    height: 100%;
  }

  .open-btn.show {
    display: block;
  }

}
</style>
