---

---

<div class="navbar clear nav-top">
  <div class="row content">
      <a href="#"><img class="logo" src="logo.svg"></a>
      <div class="links">
          <a class="right" style="text-decoration: underline;" href="#"><i class="fas fa-book"></i>&nbsp; Meu Github</a>
          <a class="right" style="text-decoration: underline;" href="#"><i class="fas fa-book"></i>&nbsp; Portifólio</a>
          <a class="right" style="text-decoration: underline;" href="#"><i class="fas fa-book"></i>&nbsp; Documentação</a>
        <!-- <a class="right" href="mailto:yourapp@email.com" target="_blank"><i class="fas fa-paper-plane"></i>&nbsp; yourapp@email.com</a> -->
      </div>
  </div>
</div>

<style>

.navbar {
    overflow: hidden;
    background-color: #0098f1;
    color: #333;
    top: 0;
    width: 100%;
    height: 70px;
    font-size: 15px;
    text-align: right;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
}

.navbar a {
    margin-right: 40px;
    color: #333;
}

.navbar a:active {
    text-decoration: underline;
}

.right a {
    float: right;
}

.container {
    width: 100%;
}

.top {
    background-color: #0098f1;
    height: 10px;
}

.clear {
    background-color: #fff;
    height: auto;
}

.nav-top {
    border-top: 8px solid #0098f1;
}

.row {
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
}

.content {
    padding: 22px;
}

.logo {
    height: 50px;
    border: 1px rgb(255, 0, 0) solid;
}

</style>