---
import Menu from "../components/Menu.astro";
import Content from "../components/Content.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Menu />
			<Content >
				<slot />
			</Content>
		</div>
	</body>
</html>
<style>
	.container {
    display: flex;
    height: 100vh;
}
</style>

<script>
	document.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.getElementById("sidebar");
    // const backdrop = document.getElementById("backdrop");
    const openButton = document.getElementById("open-btn");
    const closeButton = document.getElementById("close-btn");
    const toggleSidebar = (show) => {
        sidebar.style.display = show ? "flex" : "none";
		openButton.style.display = show ? "none" : "block";
        // backdrop.style.display = show ? "block" : "none";
    };
    openButton.addEventListener("click", () => toggleSidebar(true));
    closeButton.addEventListener("click", () => toggleSidebar(false));
    // backdrop.addEventListener("click", () => toggleSidebar(false));
    window.addEventListener("keydown", (e) => {
        if (e.key === "Escape") toggleSidebar(false);
    });
});
</script>
